body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  .form_control{
    display: block;
    /* width: 100%; */
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
/* Header */
.bg-dark {
  background-color: rgb(254, 236, 242) !important;
}
.nav-link {
  color: black !important;
}
div.main{
    margin-top: 60px !important;
}
.navbar-nav .navbar-text{
    margin-right: 10px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(254, 236, 242) !important;
    padding: 15px;
    text-align: center;
  }

/* Artists page */
.super-header hr{
  border: 2px solid #474747;
  margin-top: 1px;
  margin-bottom: 30px;
}



.card .card-body img{
  border: 1px solid #131313; 
  width: 64px !important;
}

.card .card-body .actions {
  margin-top: 5px;
}
.artist-cards .artist-card:nth-child(odd) .card-body{
  background-color: #feecf2;
}

/* post_list */
.infinite-item{
  display: none;
}
iframe, object, embed{
    max-width: 100%;

}

/* Styles for the content section */


@media (min-width: 500px) {

  #button {
    margin: 30px;
  }
} 

/* posts page */
.card .post-link {
  height: 467px; 
  padding: 10px;
  align-content: center;
  justify-content: center; 
  flex-wrap: wrap;
} 

.media-link {
  height: 300px;
} 


/* Profile page */
.profile-header{
  background-color: #ffd1e0;
}

.profile-header img{
  background-color: #fff;
  padding: 5px;
}

.post-info a{
  text-decoration: none;
}
.post-info a h2:hover,
.post-info a h1:hover{
  text-decoration: none;
  color: #fa0657 !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .media-link {
    height: 450px;
  } 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .media-link {
    height: 550px;
  } 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .media-link {
    height: 700px;
  }   


}
