/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background: #fafafa;
  color: #333333;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}
.form_control {
  display: block;
  /* width: 100%; */
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}


.site-header .navbar-nav .nav-item .nav-link:hover {
  color: #647e01 !important;
}
.site-header .navbar-nav .nav-item .nav-link.active {
  font-weight: bold !important;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
/* Header */
.bg-dark {
  background-color: rgb(254, 236, 242) !important;
}

.bg-lime {
  background-color: #d4ddaf;
}
.nav-link {
  color: black !important;
}
div.main {
  margin-top: 30px !important;
}
.navbar-nav .navbar-text {
  margin-right: 10px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(254, 236, 242) !important;
  padding: 15px;
  text-align: center;
}

/* Artists page */


.card .card-body img {
  border: 1px solid #131313;
  width: 64px !important;
}

.card .card-body .actions {
  margin-top: 5px;
}
.artist-cards .artist-card:nth-child(odd) .card-body {
  background-color: #f6f8ed;
}

/* post_list */
iframe,
object,
embed {
  max-width: 100%;
}

/* Styles for the content section */

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}

/* posts page */
.card .post-link {
  height: 375px;
  padding: 10px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.media-link {
  height: 350px;
}

/* Profile page */
.profile-header {
  background-color: #ffd1e0;
}

.profile-header img {
  background-color: #fff;
  padding: 5px;
}

.post-info a {
  text-decoration: none;
}
.post-info a h2:hover,
.post-info a h1:hover {
  text-decoration: none;
  color: #647e01 !important;
}

.box {
  display: block;
  margin: auto;
  background-color: transparent;
  min-height: 350px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card .post-link {
    height: 250px;
  }
  .media-link {
    height: 250px;
  }

  .img-portrait {
    max-height: 250px !important;
  }

  .container .row .item-o:nth-child(even){
    top: 75px;
    position: relative;
  }

  .box {
    max-height: 250px;
    min-height: 250px;  
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .media-link {
    height: 350px;
  }
  .card .post-link {
    height: 350px;
  }
  .box {
    max-height: 350px;
    min-height: 350px;  
  }
  .img-portrait {
    max-height: 350px !important;
  }
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .media-link {
    height: 375px;
  }
  .card .post-link {
    height: 375px;
  } 
  .box {
    max-height: 375px;
    min-height: 375px;  
  }
  .img-portrait {
    max-height: 375px !important;
  }
}

#post-text-view {
  color: #2d3900;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 25px;
  font-size: 1.0rem;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.144);
}

.post-text-view-block{
  color: #2d3900;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 25px;
  font-size: 1rem;
  margin: 20px auto;
  font-weight: bold;
  height: 500px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.144);
}

/* Pagnation */
.page-link {
  color: #ae04b3;
  font-weight: 600;
  border: 1px solid #b367b5;
}
.page-link:hover {
  z-index: 2;
  color: #ffffff;
  text-decoration: none;
  background-color: #ba98bb;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  background-color: #b367b5;
  border-color: #b367b5;
}
.gif{
  max-width: 100%;
  height: auto;
}
.gif-box{
  background-color: #feecf2;
  padding: 15px 0px;
}

.sticky-top-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
  z-index: 1020;
}

.super-header{
  background: #d4ddaf;
  text-align: center;
}

.super-header h1{
  transition: 0.2s;
}

.header-shrink {
  margin-top: 5px;
  background: #b1ba8f !important;
}

.header-shrink h1{
  font-size: 1rem !important;
}

.white-popup {
  position: relative;
  background: #d4ddaf;
  padding: 20px;
  width: auto;
  max-width: 750px;
  margin: 20px auto;
}

.mfp-title {
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.inline-caption {
  position: absolute;
  bottom: -40px;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.mfp-absolute{
  position: absolute;
  text-decoration: none;
  color: #647e01;
}

.img-portrait {
  max-width: 100%;
  max-height: 350px;
}

.center-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mfp-with-zoom .mfp-container {
  z-index: 102000;
}
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-bg {
  opacity: 0;
}
.mfp-with-zoom.mfp-bg .mfp-wrap {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-wrap {
  transform: scale(1);
}
.mfp-with-zoom.mfp-removing .mfp-wrap {
  transform: scale(0.5);
}

.card-header{
  display: flex;
  justify-content: space-between;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232d3900'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button {
  background-color: #d4ddaf45;
}

.accordion-button:not(.collapsed) {
  color: #131313;
  background-color: #d4ddaf 
}