{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<br>
<h1>30works30days</h1>
    <p>
        is a month-long project for makers where participants are required to submit a new piece of work daily for every day for the month of April. If they fail to submit something one day, they are out of the project. The project is open to everyone and any medium is encouraged. In 2020 over 1095 artists of all ages are participating from 42 countries around the world!!     </p>
    <p>
        <a href="https://www.12ocollective.com/">12ø</a>  began 30/30 in 2015 to encourage making and experimentation. With the time restriction of one day you may find that the choices you make, the corners you cut, and those ideas that you couldn’t quite realise, are just as telling as the work that you produce.    </p>
    <p>
        You will be able to see everyone's works everyday throughout April on the live feed using the 30/30 icon (top left) and by following #30works30days. Each day a selection of the day's works are selected by different artists and displayed on our social media channels. For more information please go to the <a href="https://www.12ocollective.com/">12ø website</a> or email us at info@12ocollective.com​    </p>
    <p>
        We will be organising weekly hour-long critiques/workshops/conversations over <a href="https://zoom.us/">Zoom</a>. Different hosts will facilitate these sessions with the aim to give you a chance to check-in and talk to each other about the work you’re making. While these events will be available to all 30/30 participants, some sessions may have limited spaces. You’ll receive an email with an eventbrite link detailing the host and the event, so that you can book a place. Once we confirm your place, you will receive a link to the Zoom chat.    </p>

    <p>
        This year’s 30/30 has kindly been supported by <a href="https://www.artquest.org.uk/project/30works30days/">Artquest</a>.
    </p>
<br>
<br>

<p><i>30works30days will not be home to any racist, transphobic, homophobic, ableist or sexist content. We will remove any such content and reserve the right to block the user from continuing in the project. For more information on our guidelines <a href="https://www.12ocollective.com/organisation-guidelines">please see here.</a></i></p>

<br>
<br>

<h2>
    FAQs
</h2>

<p>
<u>I'm out but it was because of circumstances beyond my control, can I still participate?</u>
    <br> Just email us at info@12ocollective.com and we can add you back into the challenge. </li>

</p>

<p>
<u>I’ve just found this project, can I join?</u>
    <br> Sorry the deadline to register for 30/30 was 28th March this year. Please email us at info@12ocollective.com so we can send you email reminder for the next round!</li>
</p>

<p>
    <u> I need to get in touch with you? help!</u>
    <br> No problem, if you need to get in touch please email us at info@12ocollective.com, please do not contact us for anything super urgent or send queries via instagram/facebook because we might miss it! Email is the best way to get in touch.
</p>

<p>
    <u>When's the deadline to submit?</u>
    <br> It's just before midnight BST (GMT+1) every day, so for 1st of April, you must submit Day 1 work by 23.59pm on 1st April!
</p>
<p>
    <u>I forgot my password. help? </u>
    <br> Not to worry, just click ‘log in’ at the top of the page, click the ‘forgot my password’ button, use the email you signed up with, and you’ll receive an email with a link to reset your password.
</p>

<p>
    <u>I can't find my brief today!</u>
    <br>Check your spam/junk/promotions folders. If it's not there email info@12ocollective.com with the subject line '30/30 help-brief'.
</p>
<p>
    <u>Do I have to follow the briefs?</u>
    <br>No, the briefs are just there as a prompt if you want one.
</p>

<p>
    <u>I never got a confirmation email.</u>
    <br>Always check your spam/junk/promotions folders for messages from 30works30days@gmail.com (feel free to add this email as a contact to avoid this).
</p>

<p>
    <u>I want to change my details.</u>
    <br>No problem, just log in and go to ‘edit profile’ and there you'll be able to change your username, website, and instagram handle. Usernames cannot include spaces so please use _ instead.
</p>

<p>
    <u>Once I’ve submitted my work for today, can I change it? </u>
    <br> Unfortunately not, you can edit immediately after clicking ‘submit’ but then after pressing the green ‘continue’ button you will not be able to change your submission.
</p>

<p>
    <u>Will my work be showcased?</u>
    <br> If you opt into sharing your work, it will be featured on the feed at <a href="http://www.thirty.works">thirty.works</a>.  We are having a different artist every day select their favorite picks which we will post on our social media platforms, and we encourage participants to share works using #30works30days so you can find each other!
</p>

<p>
    <u>I don't want anyone to see my work!</u>
    <br> You can tick the button at the bottom of the submission page to hide your work from the feed and the social media selection for that day. Only 12ø can see what you submit.
</p>

<div>
    <img src="{% static '12o-logo.png' %}" alt="12o logo" height="90px" > <img src="{% static 'Artquest-logo-2.png' %}" alt="Artquest logo" height="75px" >
</div>

{% endblock content %}