{% extends "blog/base.html" %}
{% load embed_video_tags %}
{% load index %}


{% block content %}
<style>

.infinite-item{
  display: none;
}
iframe, object, embed{
    max-width: 100%;
    
}
img{
  height: auto;
}
@media screen and (max-width: 768px) {
    iframe,img {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
    
}
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 825px) 
    and (orientation : landscape) 
 
{
  iframe,img {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}
/* #button {

  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */


@media (min-width: 500px) {
  
  #button {
    margin: 30px;
  }
} */
</style>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="infinite-container text-center">
    {% for post in posts %}
      <div class="infinite-item" aria-labelledby="{{post.alt_text}}">
        <br>
        <!-- The video tag: -->
        {% if post.postvideo %}
          {% video post.postvideo as my_video %}
          {% video my_video "large" %}
        {% endvideo %}

      <!-- Or embed shortcut: -->
      {% video my_video '800x600' %}
      {% elif post.postpic %}
<!--      <img src="{{ post.postpic.url }}" width="960px" height="720px" data-name='{{post.day.number}}' alt="{{post.alt_text}}">-->
      <img src="{{ post.postpic.url }}" data-name='{{post.day.number}}' alt="{{post.alt_text}}">

      {% else %}
      {% if post.url|slice:":4" == 'http' %}
      <h1> <a href="{{ post.url }}"  target="_blank"> {{ post.url }} </a></h1>
      {% elif  post.url|slice:":3" == 'www'%}
      <h1> <a href="http://{{ post.url }}"  target="_blank">{{ post.url }}</a></h1>
      
   {% else %}
   <h1> <a href="//{{ post.url }}"  target="_blank"> {{ post.url }} </a></h1>
   {% endif %}
      {% endif %}
      <br><br>
      <h4>{{post.title}}, by<a href="/user/{{post.author}}">
        {{ post.author }}
      </a></h4>
      
      {% if users|insta:forloop.counter0 %}
      <h4>
      <strong>Instagram:</strong> {{ users|insta:forloop.counter0 }}
      </h4>
      {% endif %}            
      {% if users|url:forloop.counter0 %}
      {% if users|url:forloop.counter0|slice:":4" == 'http' %}

      <h4> <a href="{{ users|url:forloop.counter0 }}"  target="_blank">{{ users|url:forloop.counter0 }}</a></h4>
      {% elif  users|url:forloop.counter0|slice:":3" == 'www'%}
      <h4> <a href="http://{{ users|url:forloop.counter0 }}"  target="_blank">{{ users|url:forloop.counter0 }}</a></h4>
      {% else %}
      <h4> <a href="//{{ users|url:forloop.counter0 }}" target="_blank">{{ users|url:forloop.counter0 }}</a></h4>
      {% endif %}
      
      {% endif %}
      <br>
            </div>

            {% empty %}
        <div class="text-center">
            <br>
            <br>
          <h2>Nothing to see here yet. You’re in the future!</h2>
        </div>
    {% endfor %}
  </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>

    if(document.querySelector('img')){
        document.querySelector("select").value = document.querySelector('img').getAttribute("data-name")
    }
    else{
      document.querySelector("select").value = sessionStorage.getItem("value")
    }
    var count = 0;
    $(".infinite-item").slice(0, 2).show();

function load() {
        $(".infinite-item:hidden").slice(0, 1).slideDown();
        if ($(".infinite-item:hidden").length == 0) {
            count ++;
        }
        // $('html,body').animate({
        //     scrollTop: $(this).offset().top
        // }, 1500);
   
}
$(document.body).on('touchmove', onScroll); // for mobile
$(window).on('scroll', onScroll);

var addition_constant = 0;

// callback
function onScroll(){
    
    if(count === 0){
      var addition = ($(window).scrollTop() + window.innerHeight);

var scrollHeight = (document.body.scrollHeight - 1);
if (addition > scrollHeight && addition_constant < addition) {      
   $(window).unbind('scroll');
           load();
   }
    }
}
  </script>
{% endblock %}
