
{% load static %}
{% load embed_video_tags %}

<!DOCTYPE html>
<html lang="en">

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>30/30 - {{ title }}</title>
    {% else %}
        <title>30/30</title>
    {% endif %}
    <style>
    .bg-dark{
  background-color: rgb(254,236,242) !important;

}
.nav-link{
  color: black !important;
}
.infinite-item{
  display: none;
}
iframe, object, embed{
    max-width: 100%;
    
}
img{
  height: auto;
}
@media screen and (max-width: 768px) {
    iframe,img {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
    
}
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 825px) 
    and (orientation : landscape) 
 
{
  iframe,img {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}
    </style>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About&nbsp&nbsp&nbsp</a>

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
<!--              <a class="nav-item nav-link" href="">Day</a>-->
                <span class="navbar-text" >Day&nbsp&nbsp&nbsp</span>
              <select class="form_control " >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>

              </select>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Edit Profile</a>
                    <a class="nav-item nav-link" href="{% url 'user-posts' user.username %}">My Works</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">SUBMIT</a>

                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container-fluid">
<!--    <main role="main" class="row infinite-container">-->
      <div class="row">
        <div class="col-md-12">
            <div class="infinite-container text-center">
                
            {% for post in posts %}

            <div class="infinite-item" data-name="{{post.day.number}}" aria-labelledby="{{post.alt_text}}">
                {% if forloop.first %}
           <h2 style="text-align: left;">{{post.author}}</h2>
                {% endif %}
                <br>
              <!-- The video tag: -->
              {% if post.postvideo %}
              {% video post.postvideo as my_video %}
              
              {% video my_video "large" %}
              {% endvideo %}
              
              <!-- Or embed shortcut: -->
              {% video my_video '800x600' %}
              {% elif post.postpic %}
              <img src="{{ post.postpic.url }}" width="960px" height="720px" data-name='{{post.day.number}}'alt="{{post.alt_text}}">
               
              {% else %}
              

              {% if post.url|slice:":4" == 'http' %}
              <h2> <a href="{{ post.url }}"  target="_blank"> {{ post.url }} </a></h2>
              {% elif post.url|slice:":3" == 'www' %}
              <h2> <a href="http://{{ post.url }}"  target="_blank"> {{ post.url }} </a></h2>
           {% else %}
           <h2> <a href="//{{ post.url }}"  target="_blank"> {{ post.url }} </a></h2>
           {% endif %}            
              {% endif %}
              <br><br>
              <h4>{{post.title}}, by<a href="/user_detail/?day={{post.day.number}}&username={{post.author}}" class="name" data-name="{{post.author}}">
                 {{ post.author }}
              </a></h4>
              {% if users.insta_handler %}
              <h4>
          <strong>Instagram:</strong> {{users.insta_handler}}
              </h4>
              {% endif %}            
              {% if users.url %}
              {% if users.url|slice:":4" == 'http' %}

<h4> <a href="{{users.url}}" target="_blank">{{users.url}}</a></h4>
{% elif  users.url|slice:":3" == 'www'%}
<h4> <a href="http://{{ users.url }}"  target="_blank">{{ users.url }}</a></h4>
{% else %}
<h4> <a href="//{{users.url}}" target="_blank">{{users.url}}</a></h4>

{% endif %}

{% endif %}  
  <br>
              
            </div>
            
            {% empty %}
            <div class="text-center">
              <h2> </h2>
            </div>
              {% endfor %}
            </div> 
      </div>
        </div>
       </main>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

       <script>
 document.getElementsByClassName("navbar-brand")[0].innerHTML = "<img alt='Home' src='{% static 'logo.png' %}'  style='width: 48px !important'>"

               var count = 0;
    $(".infinite-item").slice(0, 2).show();

function load() {
        $(".infinite-item:hidden").slice(0, 1).slideDown();
        if ($(".infinite-item:hidden").length == 0) {
            count ++;
        }
        // $('html,body').animate({
        //     scrollTop: $(this).offset().top
        // }, 1500);
   
}
$(document.body).on('touchmove', onScroll); // for mobile
$(window).on('scroll', onScroll);

var addition_constant = 0;

// callback
function onScroll(){
    
    if(count === 0){
      var addition = ($(window).scrollTop() + window.innerHeight);

var scrollHeight = (document.body.scrollHeight - 1);
if (addition > scrollHeight && addition_constant < addition) {      
   $(window).unbind('scroll');
           load();
   }
    }
}





           if(document.querySelector(".name")){
           sessionStorage.setItem("name",document.querySelector(".name").getAttribute("data-name"));}
           if(document.querySelector(".infinite-item")){
       document.querySelector("select").value = document.querySelectorAll(".infinite-item")[0].getAttribute("data-name")
     
       console.log(document.querySelector(".infinite-item").getAttribute("data-name"))
       }
       else{
        document.querySelector("select").value = sessionStorage.getItem("value2")

       }
       $('select').on('change', function() {
      sessionStorage.setItem("value2",this.value);
      if(document.querySelector(".name")){
        window.location.href = "/user_detail/?day="+this.value+"&username="+document.querySelector(".name").getAttribute("data-name");
         return
             }
             window.location.href = "/user_detail/?day="+sessionStorage.getItem("value2")+"&username="+sessionStorage.getItem("name");

});
       </script>
       </body>
       </html>


