{% extends "base.html" %}
{% block title %}- Submit{% endblock %}
{% block content %}
<div class="content-section my-2 container">
  <div class="text-center">
    <h2>Submit for <span class="text-success">Day {{latest_day}}</span> </h2>
    <h3><strong>Brief:</strong> <span class="text-success">{{brief_day}}</span></h3>
    <h6>Fields marked with a (<span class="text-danger">*</span>) are required</h6>
  </div>
  <form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% for err in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show">
          {{ err }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
    {% endif %}
    <div class="mb-3">
      <div class="form-group">
        <label for="email">Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="email" placeholder="Enter Title" name="title" maxlength="100" required>
      </div>
  
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="options" id="inlineRadio1" value="1" checked>
        <label class="form-check-label" for="inlineRadio1"><i class="fa fa-picture-o" aria-hidden="true"></i> Upload JPEG / PNG / GIF</label>
      </div>
  
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="options" id="inlineRadio2" value="2">
        <label class="form-check-label" for="inlineRadio2"><i class="fa fa-play-circle" aria-hidden="true"></i> Vimeo / Youtube / Soundcloud URL</label>
      </div>
  
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="options" id="inlineRadio3" value="3">
        <label class="form-check-label" for="inlineRadio3"><i class="fa fa-globe" aria-hidden="true"></i> Webpage URL</label>
      </div>
  
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="options" id="inlineRadio4" value="4">
        <label class="form-check-label" for="inlineRadio4"><i class="fa fa-align-justify" aria-hidden="true"></i> Text Post</label>
      </div>
    </div>

    <!-- 
    <div class="form-group">
      <label for="post_text">Text Post: (Max 2000 characters)</label>  
      <textarea id="id_post_text" class="form-control" maxlength="2000" name="post_text"  rows="10" placeholder="Add Text" required="required"></textarea>
    </div> -->

    <div class="col mb-2" id="form" >
      <div class="col mb-2">
        <label for="exampleFormControlFile1">Post Image (Maximum upload file size: <span class='text-danger'>5 MB</span>): <span class="text-danger">*</span></label>
        <input type="file" class="form-control-file mb-3" name="postpic" accept="image/gif, image/jpeg, image/png"  id="id_postpic" onchange="validateSize(this)" required>
      </div>
      <div class="col mb-2">
        <label for="alt_text">Visual description for screen-readers (Max 600 characters) (<span class="text-danger">*</span>)</label>
        <textarea class="form-control" maxlength="600"  name="alt_text"  rows="5" placeholder="Enter Alt-text" required="required"></textarea>
      </div>
    </div>

    <div class="form-group">
        <label for="anything_else">Anything else you'd like to say to us? (Max 250 characters)</label>
        <textarea class="form-control" maxlength="250" name="anything_else"  rows="5" placeholder="Anything else you'd like to say to us?"></textarea>
    </div>

    <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" name="is_private" id="customControlAutosizing">
        <label class="custom-control-label" for="customControlAutosizing">Tick this box if you <span class='text-danger'><u>DO NOT</u></span> want this work to be made public.</label>
    </div>

    <div class="text-center my-3">
      <button type="submit" class="btn btn-success btn-lg btn-block" id="submitbutton1">Submit Post</button>
    </div>
  </form>
</div>


{% endblock content %}
{% block extra_js %}
<script>
 if(document.querySelector(".errorlist")){
      document.querySelector(".alert").classList.remove("hide");
      document.querySelector(".alert").innerText = document.querySelector(".errorlist").innerText
 }
 $('input[type=radio][name=options]').on('change', function() {
   console.log(this.value)
  if(this.value === "3"){
    $("#form").html(` <label for="pwd">Webpage URL: <span class="text-danger">*</span></label>
    <input class="form-control" name="url"  placeholder="Enter Url" pattern='^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$' title="Invalid Url" required />`)
  }

  else if(this.value === "4" ){
    $("#form").html(`
      <label for="post_text">Text Post: (Max 10,000 characters) <span class="text-danger">*</span></label>  
      <textarea id="id_post_text" class="form-control" maxlength="10000" name="post_text"  rows="10" placeholder="Add Text" required="required"></textarea>
    `)
  }
  else if(this.value === "1" ){
    $("#form").html(`        
      <div class="col mb-2">
        <label for="exampleFormControlFile1">Post Image (Maximum upload file size: <span class='text-danger'>5 MB</span>): <span class="text-danger">*</span></label>
        <input type="file" class="form-control-file mb-3" name="postpic" accept="image/gif, image/jpeg, image/png"  id="id_postpic" onchange="validateSize(this)" required>
      </div>
      <div class="col mb-2">
        <label for="alt_text">Visual description for screen-readers (Max 600 characters) (<span class="text-danger">*</span>)</label>
        <textarea class="form-control" maxlength="600"  name="alt_text"  rows="5" placeholder="Enter Alt-text" required="required"></textarea>
      </div>     `)
  }
  else if(this.value === "2" ){
    $("#form").html(` 
     <label for="email">Post Media: <span class="text-danger">*</span></label>
      <input type="url"  class="form-control mb-3" id="id_postvideo" placeholder="Enter Media URL" name="postvideo" required  >
      <label for="exampleFormControlTextarea1">Visual description for screen-readers (Max 600 characters) (<span class="text-danger">*</span>)</label>
      <textarea class="form-control" name="alt_text" maxlength="600"  rows="5" placeholder="Enter Alt-text" required="required"></textarea>`)
    }
  });

</script>
{% endblock %}   
{% block extra_css %}
<style>
  .hide{
      display: none;
  }
  label{
      font-weight: bold;
  }
  </style>
{% endblock %}