{% extends "base.html" %}
{% load embed_video_tags thumbnail %}
{% load index %}


{% block content %}
<div class="profile-header p-3 my-3 rounded text-center">
  <div class="row">
    <div class="col-md-12">
      {% thumbnail user_details.user_profile.profilepic "150x150" crop="10px 10px" format="PNG" as im %}
        <img class="img-fluid img-thumbnail"  src="{{ im.url }}">
      {% endthumbnail %}
    </div>
    <div class="col-md-12 text-center">
      <h1 class="mb-2">{{ user_details.first_name }} {{ user_details.last_name }}</h1>
      <h4 class="mb-2">{{ user_details.username  }}</h4>
      {% if user_details.user_profile.bio %}
        <p class="mb-2"><span class="font-weight-bold">Bio:</span> {{ user_details.user_profile.bio }}</p>
      {% endif %}
      {% if user_details.user_profile.contact_info %}
        <p class="mb-2"><span class="font-weight-bold">Contact Info:</span> {{ user_details.user_profile.contact_info }}</p>
      {% endif %}
      {% if user_details.user_profile.url %}
        <p class="mb-2"><span class="font-weight-bold">Website:</span> {{ user_details.user_profile.url }}</p>
      {% endif %}
      {% if user_details.user_profile.insta_handler %}
        <p class="mb-2"><span class="font-weight-bold">Insta:</span> {{ user_details.user_profile.insta_handler }}</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="infinite-container">
    <div class="row">

      {% if posts %}
      {% for post in posts %}
      <div class="col-lg-12">
        <div class="super-header mb-2">
          <h1>Day {{post.day}}</h1>
          <hr>
        </div>
      </div>
      <!-- Picture -->
        {% if post.postpic %}
        <div class="col-lg-12 mb-3">
          <div class="card border-dark">
              <img class="img-fluid" src="{{ post.postpic.url }}">
            <div class="p-3 text-center">
              {{post.alt_text}}
            </div>
          </div>
        </div>
        {% endif %}
      <!-- Picture -->
        
        <!-- Video/Audio url -->
        {% if post.postvideo %}
        <div class="col-lg-12 mb-3">
          <div class="bg-dark">
            {% video post.postvideo as my_video %} 
                {% video my_video 'huge' %}
            {% endvideo %}
          </div>
          <div class="p-3 text-center">
            {{post.alt_text}}
          </div>
        </div>
        {% endif %}
        <!-- Video url -->

        <!-- page url -->
        {% if post.url %}
        <div class="col-lg-12 mb-3">
          <div class="card">
            <div class="post-link text-center bg-dark d-flex">
              <h4><a href="{{post.url}}" target="_blank">{{post.title}}</a></h4> 
            </div>
            <div class="p-3 text-center">
              {{post.alt_text}}
            </div>
          </div>
        </div>  
        {% endif %}
        <!-- page url -->
        
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          <div class="text-center">
            <h2>Artist has not posted anything yet. Check back later!</h2>
          </div>
        </div>
        {% endif %}
        
      </div>

    {% if user_details.user_profile.insta_handler %}
        <h4><strong>Instagram:</strong> {{ user_details.user_profile.insta_handler }}</h4>
    {% endif %}

    {% if user_details.user_profile.url %}
        {% if user_details.user_profile.url|slice:":4" == 'http' %}
            <h4> <a href="{{ user_details.user_profile.url }}"  target="_blank">{{ user_details.user_profile.url }}</a></h4>
        {% else %}
            <h4> <a href="//{{ user_details.user_profile.url }}" target="_blank">{{ user_details.user_profile.url }}</a></h4>
        {% endif %}
    {% endif %}

    <br>
    <br>
</div>


{% endblock content %}
{% block extra_js %}

{% endblock %}