{% extends "base.html" %}
{% load embed_video_tags thumbnail %}
{% load index %}

{% block title %}- {{ user_details.first_name }} {{ user_details.last_name }}{% endblock %}
{% block content %}

<div class="container">
  <div class=" bg-lime px-5 py-4 my-3 rounded">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-3">{{ user_details.first_name }} {{ user_details.last_name }}</h1>
        {% if user_details.user_profile.bio %}
          <p class="mb-2"><span class="font-weight-bold"><i class="fa fa-book" aria-hidden="true"></i> Bio:</span> {{ user_details.user_profile.bio }}</p>
        {% endif %}
        {% if user_details.user_profile.url %}
          <p class="mb-2"><span class="font-weight-bold"><i class="fa fa-globe" aria-hidden="true"></i> Website:</span> <a target="_blank" href="{{ user_details.user_profile.url }}">{{ user_details.user_profile.url }}</a> </p>
        {% endif %}
        {% if user_details.user_profile.insta_handler %}
        <p class="mb-2"><span class="font-weight-bold"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram: </span><a  target="_blank" href="https://www.instagram.com/{{ user_details.user_profile.insta_handler }}">@{{ user_details.user_profile.insta_handler }}</a></p> 
        {% endif %}
      </div>
    </div>
  </div>

  <div class="infinite-container row">
    {% if posts %}
      {% for post in posts %}
        {% if not post.is_private or user.email == post.author.email  %}

          <!-- Picture -->
            {% if post.postpic %}
            <div class="col-md-6 mb-4 infinite-item item-o">
              <div class="super-header post-info rounded">
                <a href="{% url 'artist-posts' post.day %}">
                  <h1><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Day {{post.day}}</i></h1> 
                </a>
              </div>
              <div class="card">
                <div class="card-header post-info">
                  {{post.title}}
                </div>
                <div class="gallery">
                  <a class="mfp-image" href="{{ post.postpic.url }}" title="{{post.title}}">
                    <div class="box center-img">
                      <img class="img-portrait" src="{{ post.postpic.url }}" alt="{{ post.alt_text }}">
                    </div>
                    {% comment %} 
                      {% if post.postpic|is_portrait %}
                        <div class="box center-img">
                          <img class="img-portrait" src="{{ post.postpic.url }}" alt="{{ post.alt_text }}">
                        </div>
                      {% else %}
                        {% if post.postpic.width > 500 %}
                        <div class="box">
                          <img class="img-fluid" src="{{ post.postpic.url }}" alt="{{ post.alt_text }}">
                        </div>
                        {% else %}
                          <div class="text-center gif-box">
                            <img class="img-fluid" src="{{ post.postpic.url }}" alt="{{ post.alt_text }}">
                          </div>
                        {% endif %}
                      {% endif %}  
                    {% endcomment %}
                  </a>  
                </div>
                <div class="card-footer text-muted post-info">
                  Work By: 
                  <a class="text-decoration-none link-success" href="{% url 'user-posts' post.author.id|stringformat:'04d' %}"> 
                    {{post.author.first_name}} {{post.author.last_name}}
                  </a>
                </div>
              </div>

            {% if user.id == posts.0.author.id %}
              <div class="status-holder mt-1 text-right pr-1">
                {% if not post.is_private %}
                  <h6 class="text-success" data-toggle="tooltip" data-placement="top" title="Your post is public"><i class="bi bi-eye-fill" aria-hidden="true"></i> Public</h6>
                {% else %}
                  <h6 class="text-danger" data-toggle="tooltip" data-placement="top" title="Your post is private"><i class="bi bi-eye-slash-fill" aria-hidden="true"></i> Private</h6>
                {% endif %}
              </div>
            {% endif %}
            {% if user.id == posts.0.author.id and this_day == post.day.number %}
              <div class="btn-holder text-right">
                <a href="{% url 'post-update' post.id %}" class="btn btn-warning btn-sm " role="button" aria-pressed="true">Edit</a>
                <a href="{% url 'post-delete' post.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
              </div>
            {% endif %}

            </div>
            {% endif %}
          <!-- Picture -->
            
            <!-- Video/Audio url -->
            {% if post.postvideo %}
            <div class="col-md-6 mb-4 infinite-item item-o">
              <div class="super-header post-info rounded">
                <a href="{% url 'artist-posts' post.day %}">
                  <h1><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Day {{post.day}}</i></h1> 
                </a>
              </div>
              <div class="card">
                <div class="card-header post-info">
                  {{post.title}}
                  <div class="gallery me-3">
                    <a class="mfp-iframe mfp-absolute" title="{{post.title}}" href="{{ post.postvideo }}"><i class="bi bi-box-arrow-up-right"></i></a>  
                  </div>
                </div>
                <div class="gallery media-link">
                  {% video post.postvideo as my_video %} 
                      {% video my_video '100% x 100%' %}
                  {% endvideo %}
                </div>
                <div class="card-footer text-muted post-info">
                  Work By: 
                  <a class="text-decoration-none link-success" href="{% url 'user-posts' post.author.id|stringformat:'04d' %}"> 
                    {{post.author.first_name}} {{post.author.last_name}}
                  </a>
                </div>
              </div>
              
              {% if user.id == posts.0.author.id %}
              <div class="status-holder mt-1 text-right pr-1">
                {% if not post.is_private %}
                  <h6 class="text-success" data-toggle="tooltip" data-placement="top" title="Your post is public"><i class="bi bi-eye-fill" aria-hidden="true"></i> Public</h6>
                {% else %}
                  <h6 class="text-danger" data-toggle="tooltip" data-placement="top" title="Your post is private"><i class="bi bi-eye-slash-fill" aria-hidden="true"></i> Private</h6>
                {% endif %}
              </div>
              {% endif %}
              {% if user.id == posts.0.author.id and this_day == post.day.number %}
                <div class="btn-holder text-right">
                  <a href="{% url 'post-update' post.id %}" class="btn btn-warning btn-sm " role="button" aria-pressed="true">Edit</a>
                  <a href="{% url 'post-delete' post.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
                </div>
              {% endif %}
            </div>
            {% endif %}
            <!-- Video url -->

            <!-- page url -->
            {% if post.url %}
            <div class="col-md-6 mb-4 infinite-item item-o">
              <div class="super-header post-info rounded">
                <a href="{% url 'artist-posts' post.day %}">
                  <h1><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Day {{post.day}}</i></h1> 
                </a>
              </div>
              <div class="card">
                <div class="card-header post-info">
                  {{post.title}} - Link
                </div>
                <div>
                  <div class="post-link text-center bg-lime d-flex">
                    <h4><a class="link-success" href="{{post.url}}" target="_blank">{{post.title}}</a></h4> 
                  </div>
                </div>
                <div class="card-footer text-muted post-info">
                  Work By: 
                  <a class="text-decoration-none link-success" href="{% url 'user-posts' post.author.id|stringformat:'04d' %}"> 
                    {{post.author.first_name}} {{post.author.last_name}}
                  </a>
                </div>
              </div>


              {% if user.id == posts.0.author.id %}
              <div class="status-holder mt-1 text-right pr-1">
                {% if not post.is_private %}
                  <h6 class="text-success" data-toggle="tooltip" data-placement="top" title="Your post is public"><i class="bi bi-eye-fill" aria-hidden="true"></i> Public</h6>
                {% else %}
                  <h6 class="text-danger" data-toggle="tooltip" data-placement="top" title="Your post is private"><i class="bi bi-eye-slash-fill" aria-hidden="true"></i> Private</h6>
                {% endif %}
              </div>
              {% endif %}
              {% if user.id == posts.0.author.id and this_day == post.day.number %}
                <div class="btn-holder text-right">
                  <a href="{% url 'post-update' post.id %}" class="btn btn-warning btn-sm " role="button" aria-pressed="true">Edit</a>
                  <a href="{% url 'post-delete' post.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
                </div>
              {% endif %}

            </div>  
            {% endif %}
            <!-- page url -->

            <!-- text post -->
            {% if post.post_text %}
            <div class="col-md-6 mb-4 infinite-item item-o">
              <div class="super-header post-info rounded">
                <a href="{% url 'artist-posts' post.day %}">
                  <h1><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Day {{post.day}}</i></h1> 
                </a>
              </div>
              <div class="card">
                <div class="card-header post-info">
                  {{post.title}}
                  <div class="gallery me-3">
                    <a class="mfp-inline mfp-absolute open-popup-link" title="Expand" href="#post-popup-{{post.id}}"><i class="bi bi-box-arrow-up-right"></i></a>  
                  </div>
                </div>
                <div class="gallery">
                  <div class="post-link text-center bg-lime d-flex">
                    <textarea name="posttext" id="post-text-view" cols="30" rows="10" readonly>{{post.post_text}}</textarea>
                  </div>
                </div>
                <div class="card-footer text-muted post-info">
                  Work By: 
                  <a class="text-decoration-none link-success" href="{% url 'user-posts' post.author.id|stringformat:'04d' %}"> 
                    {{post.author.first_name}} {{post.author.last_name}}
                  </a>
                </div>
              </div>

              {% if user.id == posts.0.author.id %}
                <div class="status-holder mt-1 text-right pr-1">
                  {% if not post.is_private %}
                    <h6 class="text-success" data-toggle="tooltip" data-placement="top" title="Your post is public"><i class="bi bi-eye-fill" aria-hidden="true"></i> Public</h6>
                  {% else %}
                    <h6 class="text-danger" data-toggle="tooltip" data-placement="top" title="Your post is private"><i class="bi bi-eye-slash-fill" aria-hidden="true"></i> Private</h6>
                  {% endif %}
                </div>
              {% endif %}
              {% if user.id == posts.0.author.id and this_day == post.day.number %}
                <div class="btn-holder text-right">
                  <a href="{% url 'post-update' post.id %}" class="btn btn-warning btn-sm " role="button" aria-pressed="true">Edit</a>
                  <a href="{% url 'post-delete' post.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true">Delete</a>
                </div>
              {% endif %}

              <div id="post-popup-{{post.id}}" title="{{post.title}}" class="white-popup mfp-hide">
                <textarea class="post-text-view-block" title="{{post.title}}" name="posttext" cols="30" rows="10" readonly>{{post.post_text}}</textarea>
                <div class="inline-caption">{{post.title}}</div>
              </div>
            </div> 
            {% endif %}
            <!-- text post -->
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="col-md-12">
        <div class="text-center">
          <h2>Artist has not posted anything yet. Check back later!</h2>
        </div>
      </div>
    {% endif %}    
  </div>
</div>


{% endblock content %}
{% block extra_js %}

{% endblock %}