{% extends "blog/base.html" %}
{% block content %}
<style>
label{
    font-weight: bold;
}
</style>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="text-center">
                <h2>Reset Password</h2>
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {{ form.non_field_errors.0 }}
                </div>
                {% endif %}
            
            
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" maxlength="254" placeholder="Enter Email" required>
              </div>
              <br>
            <div class="form-group text-center">
                <button class="btn btn-primary btn-lg" style="background-color: #343a40!important;border-color:#343a40!important ;" type="Request Password Reset">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}