{% extends "base.html" %}
{% load static %}
{% block title %}- About{% endblock %}
{% block content %}
<div class="container my-5">

    <h2 class="fw-bold">30works30days</h2>

    
    <p>
        is a free month-long project where participating artists create and submit a
        new piece of work every day during April. The project is open to anyone working in any
        media, anywhere in the world. Artists that participate can also access peer mentoring,
        network support and engage with other artists taking part in the project.
    </p>

    <p>
        The primary rule of the project is that you must submit an artwork every day. If you fail to
        submit an artwork on one of the days, you are out of the project.
    </p>

    <p>
        All the information required for logging in, submitting work and navigating the site can be
        found below. For more information please go to the Artquest website or email us at
        <a class="link-success" href="mailto:info@thirty.works">info@thirty.works</a> 
    </p>

    <h4 class="fw-light">12ø collective began 30/30 in 2015 to encourage making and experimentation. With the restriction of one day you may find that the choices you make, the corners you cut, and those ideas that you couldn't quite realise, are just as telling as the work that you produce.</h4>
    
    <h2 class="fw-bold mt-5">About Artquest:</h2>
    <p>
      Artquest exists to help make the art world more equitable for artists. Artquest supports visual artists at all stages of their careers. We provide free access to robust and trusted careers information, advice, opportunities and resources. We also carry out specialist research on artists' livelihoods to produce insights that support the wider arts sector help artists meet their ambitions.
    </p>
</div>



{% endblock content %}