{% extends "base.html" %} 
{% load static %} 
{% block title %}- About{% endblock %} 

{% block content %}
<div class="container my-5">
  <h2 class="fw-bold">30works30days</h2>

  <p>
    30works30days is a free month-long creative practice network for artists to
    make a new piece of work every day during April
  </p>
  <p>
    30works30days encourages daily making, risk taking and experimentation. If
    you are stuck in a creative rut, are looking for a bit of informal
    structure, or enjoy responding to a creative brief, 30works30days might be
    for you.
  </p>
  <p>
    Each day in April participating artists are emailed a brief to prompt a new
    piece. How (or if) your daily piece of work responds to the brief is up to
    you. But to remain involved you must make a new artwork and upload it to the
    30works30days website by midnight every day. Miss a day, and you're out of
    the project.
  </p>
  <p>
    With the time restriction of one day you may find the choices you make, the
    corners you cut, and the ideas that you couldn't quite realise are as
    important as the work you produce.You will be able to view other artists
    submissions throughout April on our dedicated 30works30days project website.
  </p>
  <p>
    As well as the creative benefits of taking part, we will host
    <a
      class="link-success"
      href="https://artquest.org.uk/project/30works30days/30works30days-artquest-crit/"
      >online networking and peer mentoring sessions</a
    >
    for participants. Invited art world professionals will pick highlights every
    day to highlight on Artquest's
    <a
      class="link-success"
      href="https://artquest.us2.list-manage.com/track/click?u=10a7ba3ec684dcc0fe93f3c80&id=0bba6d0663&e=045e4a1db3"
      >Instagram</a
    >.
  </p>
  <p>
    30works30days was devised and delivered by
    <a class="link-success" href="https://www.12ocollective.com/"
      >12ø collective</a
    >
    from 2015-2022. After supporting the project for 2 years, 12ø have passed
    the project to Artquest to run from 2023.
  </p>

  <p>
    The primary rule of the project is that you must submit an artwork every
    day. If you fail to submit an artwork on one of the days, you are out of the
    project.
  </p>

  <p>
    All the information required for logging in, submitting work and navigating
    the site can be found below. For more information please go to the Artquest
    website or email us at
    <a class="link-success" href="mailto:info@thirty.works"
      >info@thirty.works</a
    >
  </p>

  <h2 class="fw-bold mt-5">About Artquest:</h2>
  <p>
    <a class="link-success" href="https://www.12ocollective.com/">Artquest</a>
    exists to help make the art world more equitable for artists. Artquest
    supports visual artists at all stages of their careers. We provide free
    access to robust and trusted careers information, advice, opportunities and
    resources. We also carry out specialist research on artists' livelihoods to
    produce insights that support the wider arts sector help artists meet their
    ambitions.
  </p>
</div>

{% endblock content %}
