{% extends "base.html" %}
{% load static %}
{% block title %}- About{% endblock %}
{% block content %}
<div class="container my-5">

    <h2 class="fw-bold">30works30days</h2>
    <p>
        is a free month-long project where participating artists create and submit a
        new piece of work every day during April. The project is open to anyone working in any
        media, anywhere in the world. Artists that participate can also access peer mentoring,
        network support and engage with other artists taking part in the project.
    </p>

    <p>
        The primary rule of the project is that you must submit an artwork every day. If you fail to
        submit an artwork on one of the days, you are out of the project.
    </p>

    <p>
        All the information required for logging in, submitting work and navigating the site can be
        found below. For more information please go to the Artquest website or email us at
        <a class="link-success" href="mailto:info@thirty.works">info@thirty.works</a> 
    </p>
    
    <h2 class="fw-bold mt-5">Code of Conduct</h2>
    <ul>
        <li>
            Submit only content which you have created or that you have the right to share.
            Don't post anything you've copied or collected from the internet or that you don't
            have the right to post.
        </li>
        <li>
            Artworks submitted which are inherently disrespectful, aggressive, or otherwise
            abusive will be removed, as will any artwork which targets people based of a
            protected characteristic such as race, ethnicity, national origin, disability, religious
            affiliation, sexual orientation, sex, gender identity or serious disease.
        </li>
    </ul>

    <h2 class="fw-bold mt-5">FAQ</h2>
     
    <div class="accordion">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                I'm out but it was because of circumstances beyond my control, can I still participate?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Just email us at info@thirty.works and we can add you back into the challenge.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              I've just found this project, can I join?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Sorry the deadline to register for 30/30 was 28th March this year. Please subscribe to our
                mailing list to receive an email reminder for next year!            
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              I need to get in touch with you? help!
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                No problem, if you need to get in touch please email us at info@thirty.works, please do not
                contact us for anything super urgent or send queries via instagram because we probably
                won't see it! Email is the best way to get in touch.            
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#4" aria-expanded="false" aria-controls="4">
                When's the deadline to submit?
              </button>
            </h2>
            <div id="4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                It's just before midnight BST (GMT+1) every day, so for 1st of April, you must submit Day 1
                work by 23.59pm on 1st April!          
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#5" aria-expanded="false" aria-controls="5">
                I forgot my password. help?
              </button>
            </h2>
            <div id="5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Not to worry, just click 'log in' at the top of the page, click the 'forgot my password' button,
                use the email you signed up with, and you'll receive an email with a link to reset your
                password.       
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#6" aria-expanded="false" aria-controls="6">
                I can't find my brief today!
              </button>
            </h2>
            <div id="6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Check your spam/junk/promotions folders. If it&#39;s not there, email info@thirty.works with
                the subject line &#39;30/30 help-brief&#39;. You can also find the daily brief at the top of the SUBMIT
                page.         
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#7" aria-expanded="false" aria-controls="7">
                Do I have to follow the briefs?
              </button>
            </h2>
            <div id="7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No, the briefs are just there as a prompt if you want one.         
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#8" aria-expanded="false" aria-controls="8">
                I never got a confirmation email.
              </button>
            </h2>
            <div id="8" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Always check your spam/junk/promotions folders for messages from info@thirty.works
                (feel free to add this email as a contact to avoid this).        
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#9" aria-expanded="false" aria-controls="9">
                I want to change my details.
              </button>
            </h2>
            <div id="9" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No problem, just log in and go to &#39;Edit Profile&#39; and there you&#39;ll be able to add and change
                your name, bio, website, and instagram handle.        
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#10" aria-expanded="false" aria-controls="10">
                Once I've submitted my work for today, can I change it?
              </button>
            </h2>
            <div id="10" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes! You can edit or delete your work from the &#39;My Works&#39; page, until the day is up. On the
                bottom right hand corner of the image you want to change you&#39;ll see an edit button.      
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#11" aria-expanded="false" aria-controls="11">
                Will my work be showcased?
              </button>
            </h2>
            <div id="11" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    If you opt into sharing your work, it will be featured on the feed at  thirty.works . We are
                    having a different art guest select their favourite picks which we will post on our Instagram.
                    
                    We encourage participants to share works using #30works30days so you can find each
                    other!              
                </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#12" aria-expanded="false" aria-controls="12">
                I don't want anyone to see my work!
              </button>
            </h2>
            <div id="12" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can tick the button at the bottom of the submission page to hide your work from the
                    feed and the Instagram selection for that day. Only you (on your &#39;My Works&#39; page) and 12ø
                    can see what you submit.            
                </div>
            </div>
          </div>

    </div>
</div>



{% endblock content %}