<html>
  <body>
    <h2>Congratulations {{ user_first_name }}!</h2>

    <p>You completed the challenge of making work every day for the whole month of April!</p>
    
    <p>
      This is a huge achievement and we hope you enjoyed making your works as much
      as we enjoyed seeing them!
    </p>
     
    <p>
      We've attached a certificate to commemorate your completion of the project!
    </p>

    <p>
      We'd love to hear your thoughts on the project and will be sending you an evaluation
      form to complete next week. Whist this is voluntary, the anonymous feedback will
      help us develop the project for next year.
    </p>

    <p>Thank you for taking part in 30works30days and we hope to see you next year.</p>

    <p>Best,</p>
    <p>The Artquest Team</p>
  </body>
</html>
