
<body>
    <h2><strong>Day {{ current_event_day }} Brief</strong></h2>
    <p><em><span style="font-weight: 400;">Deadline: 23:59 * Today</span></em></p>
    <p><em><span style="font-weight: 400;">Brief :&nbsp; </span></em><em><span style="font-weight: 400;">{{ brief_of_the_day }}</span></em></p>
    <p><em><span style="font-weight: 400;">Submit your work today through the thirty.works link <a href="https://thirty.works/post/new/">here</a>.
    <p><span style="color: #ff00ff;"><span style="font-weight: 400;">*</span><em><span style="font-weight: 400;">*This is U.K. time (GMT+1:00 or BST)</span></em></span></p>
    <p><em><span style="font-weight: 400;">Best of luck,</span></em></p>
    <p><em><span style="font-weight: 400;">The Artquest Team</span></em></p>
</body>