<p><em><span style="font-weight: 400;">Oh nooooo . . . . . .</span></em></p>
<p><span style="font-weight: 400;">We're sad to see you go!</span></p>
<p><span style="font-weight: 400;">We didn't get your work in time for the deadline yesterday, and this means that unfortunately you are no longer able to participate in the project.</span></p>
<p><span style="font-weight: 400;">Check out thirty.works and our instagram (@12ocollective) to see works submitted each day!</span></p>
<p><span style="font-weight: 400;">If you would like to participate in our future projects, sign up to be on our mailing list through our website. Keep in touch!</span></p>
<p><span style="font-weight: 400; color: #ff00ff;">12&oslash; xx</span></p>
