<p><em><span style="">Oh nooooo . . . . . .</span></em></p>
<p><span style="">We're sad to see you go!</span></p>
<p><span style="">We didn't get your work in time for the deadline yesterday, and this means that unfortunately you are no longer able to participate in the project.</span></p>
<p><span style="">Check out <a href="https://thirty.works/"thirty.works></a> and our <a href="https://www.instagram.com/artquestlondon/">instagram</a> to see works submitted each day!</span></p>
<p><span style="">If you would like to participate in our future projects, sign up to be on our mailing list through our website. Keep in touch!</span></p>
<p>Best,</p>
<p>The Artquest Team</p>
