<html>
  <body>
    <p>Dear {{ first_name }} {{ last_name }},</p>

    <p>Thank you for signing up to participate in 30works30days.</p>
     
    <p>Just to let you know that your 30works30days account is set up:</p>
    <p style="margin-left: 45px"><b>Email:</b> {{ email }}</p>
    <p style="margin-left: 45px"><b>Password:</b> {{ password }}</p>
    <p>You can now log in at <a href="https://thirty.works/login/">thirty.works/login</a> with these credentials.</p>
    <p>
      After logging in for the first time we advise changing your password to something
      memorable for security, which you can do by visiting <a href="https://thirty.works/edit-profile/">thirty.works/edit-profile</a>
      and hitting "Change Password". Your name can also be changed there.
    </p>
    <p>
      Once you have logged in please familiarise yourself with <a href="https://thirty.works/faq/">how to upload your work to
      the website</a>.
    </p>
    <p>
      Artquest have invited artists and art world professionals from organisations we work
      with to pick highlights each day. Pickers include, Gasworks, Showroom, Art Night,
      FLAMIN, Arts 360 Foundation, @Freeze_magazine, Artist Support Pledge and
      Frank Wasser. We will highlight their selected works on the Artquest Instagram
      page. If your art work is selected and would like to be tagged on Instagram, please
      add your Instagram handle to your 30works30days profile.
    </p>
    <p>
      If you would like to share work you have made and receive feedback on your
      practice, Artquest are organising online <a href="https://artquest.org.uk/project/advice-and-networks/artquest-crits/">crit</a> sessions for participants of
      30works30days, facilitated by an artist career specialists. Booking for these sessions
      will be made available soon.
    </p>
    <p>Good luck and we look forward to receiving your works this month.</p>
    <p>Best of Luck,</p>
    <p>The Artquest Team</p>
  </body>
</html>






